/* style for about of mobile width */
@media (max-width: 1023px) {
    #about {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
    }

    .about-title-container {
        width: 100%;
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: center;
        position: relative;
        /* border: 1px solid black; */
    }

    .about-title-text {
        font-size: 32px;
        font-weight: normal;
        font-family: sans-serif;
        color: blue;
        text-shadow: 3px 2px 4px lightgray;
        letter-spacing: 6px;
        user-select: none;
    }

    /* track animation */
    .track-anime-container {
        width: 95%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 2.5%;
        overflow: hidden;
        /* border: 1px solid black; */
    }

    .track-container {
        height: 97.5%;
        aspect-ratio: 3 / 2;
        z-index: -1;
        opacity: 0.4;
        /* border: 1px solid black; */
        position: absolute;
        bottom: 0;
        right: 0;
        animation: trackRun 8.0s ease-in-out infinite, trackBounce 0.1s linear infinite;
    }

    @keyframes trackRun {

        from,
        10% {
            left: 100%;
            translate: 100% 0;
        }

        40%,
        60% {
            left: 50%;
            translate: -50% 0;
        }

        90%,
        to {
            left: 0;
            translate: -200% 0;
        }
    }

    @keyframes trackBounce {

        from,
        to {
            bottom: 0;
        }

        50% {
            bottom: 1px;
        }
    }

    .track-ride {
        width: 36%;
        height: 60%;
        background-color: darkgray;
        border-radius: 75% 10px 0 0;
        position: absolute;
        top: 10%;
        left: 0;
    }

    .track-wins {
        width: 78%;
        height: 75%;
        background-color: ghostwhite;
        border-radius: 90% 10px 0 0;
        position: absolute;
        top: 10%;
        left: 12%;
    }

    .track-cargo {
        width: 100%;
        aspect-ratio: 5 / 1;
        border-radius: 0 0 10px 10px;
        background-color: darkgray;
        position: absolute;
        bottom: 15%;
        left: 0;
    }

    .track-lugg {
        width: 76%;
        height: 10%;
        background-color: gray;
        border-radius: 100px;
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: 0 100%;
        translate: 7% 10%;
        rotate: 24deg;
    }

    .track-tireleft,
    .track-tireright {
        width: 19.5%;
        aspect-ratio: 1;
        background-color: lightgray;
        border: 4px solid black;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .track-tireleft {
        position: absolute;
        bottom: 0;
        left: 25%;
        translate: -50% 0;
    }

    .track-tireright {
        position: absolute;
        bottom: 0;
        right: 25%;
        translate: 50% 0;
    }

    .about-table {
        width: 97.5%;
        margin: 0 auto;
    }

    .about-head-cell {
        width: auto;
        height: auto;
        text-align: center;
    }

    .about-head-text {
        font-size: 13px;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
    }

    .about-cont-cell {
        width: 70%;
        height: 35px;
        text-align: left;
    }

    .about-cont-text {
        font-size: 14px;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
        display: inline-block;
        margin-left: 4%;
    }
}
