/* style for diary of default width */
@media (min-width: 1024px) {
    #diary {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
    }

    .diary-title-container {
        width: 100%;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: center;
        position: relative;
        /* border: 1px solid black; */
    }

    .diary-title-text {
        font-size: 50px;
        font-weight: normal;
        font-family: sans-serif;
        color: orangered;
        text-shadow: 4px 3px 4px lightgray;
        letter-spacing: 25px;
        user-select: none;
    }

    /* fusuma animation */
    .fusuma-anime-container {
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 5%;
        overflow: hidden;
        z-index: -1;
        /* border: 1px solid black; */
    }

    .fusuma-ll,
    .fusuma-lr,
    .fusuma-rl,
    .fusuma-rr {
        height: 100%;
        aspect-ratio: 2 / 3;
        background-color: ghostwhite;
        border: 3px solid gray;
        box-sizing: border-box;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fusuma-ll {
        animation: slidell 12.0s ease-in-out infinite;
    }

    @keyframes slidell {

        from,
        15% {
            left: 100%;
            translate: 100% 0;
        }

        25%,
        60% {
            left: 50%;
            translate: -200% 0;
        }

        70%,
        to {
            left: 0;
            translate: -200%;
        }
    }

    .fusuma-lr {
        animation: slidelr 12.0s ease-in-out infinite;
    }

    @keyframes slidelr {

        from,
        20% {
            left: 100%;
            translate: 100% 0;
        }

        30%,
        65% {
            left: 50%;
            translate: -100% 0;
        }

        75%,
        to {
            left: 0;
            translate: -200%;
        }
    }

    .fusuma-rl {
        animation: sliderl 12.0s ease-in-out infinite;
    }

    @keyframes sliderl {

        from,
        25% {
            left: 100%;
            translate: 100% 0;
        }

        35%,
        70% {
            left: 50%;
            translate: 0 0;
        }

        80%,
        to {
            left: 0;
            translate: -200%;
        }
    }

    .fusuma-rr {
        animation: sliderr 12.0s ease-in-out infinite;
    }

    @keyframes sliderr {

        from,
        30% {
            left: 100%;
            translate: 100% 0;
        }

        40%,
        75% {
            left: 50%;
            translate: 100% 0;
        }

        85%,
        to {
            left: 0;
            translate: -200%;
        }
    }

    .fs-obi {
        width: 100%;
        height: 30%;
        background-color: lightgray;
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
    }

    .fusuma-ll .fs-te,
    .fusuma-rl .fs-te {
        width: 8px;
        aspect-ratio: 1;
        background-color: gray;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 12.5%;
        translate: -50% -50%;
    }

    .fusuma-lr .fs-te,
    .fusuma-rr .fs-te {
        width: 8px;
        aspect-ratio: 1;
        background-color: gray;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 12.5%;
        translate: 50% -50%;
    }

    .diary-table {
        width: 75%;
        margin: 0 8% 20px auto;
    }

    .diary-date-cell {
        width: auto;
        height: auto;
        text-align: center;
    }

    .diary-date-text {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        color: gray;
    }

    .diary-cont-cell {
        width: 75%;
        height: 50px;
        text-align: left;
    }

    .diary-cont-text {
        font-size: 17px;
        font-weight: normal;
        font-family: sans-serif;
        color: black;
        margin-left: 20px;
    }
}
